doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title #{applicationName}
        meta(name="description", content="<%= applicationDescription %>")
        meta(name="author", content="template")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script(type='text/javascript').
            var PRELOADED_STATE = !{JSON.stringify(preloadedState)};
            var version = "#{version}";

    body
        div#root
        script(type="text/javascript", src="app.js")